{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">        
    </head>
    <body>
        <nav>
          <div>
            <div>
              <div>
                <div>
                  <img class="h-8 w-8" src="{% static 'myapp/images/shop_logo.png' %}"/>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <h4>
            {% for item in items%}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Название процессора: {{item.name}} | Цена: {{item.price}} | Характеристики: {{item.discription}} <br/>
            <a>
            {% endfor %}
        </h4>
    </body>
</html>